matplotlib==3.8.0
numpy==1.24.2
streamlit==1.26.0
h5py==3.9.0
altair==4.2.2
Flask==2.3.2
pylance==0.6.2
flask_restful==0.3.10
streamlit_extras == 0.3.2
sympy == 1.12
juliacall == 0.9.14 
psutil == 3.2.2